In [1]:
import pandas as pd

In [2]:
data_dict = {'test_scores':[88,99,100,90],
            'study_hours' :[10,18,20,25]}

In [3]:
df = pd.DataFrame(data=data_dict)
df

   test_scores  study_hours
0           88           10
1           99           18
2          100           20
3           90           25

# **References and Additional Learning**

## **Website**

- **[pandas Documentation](https://pandas.pydata.org/docs/)**

# **Connect**
- **Feel free to connect with Adrian on [YouTube](https://www.youtube.com/channel/UCPuDxI3xb_ryUUMfkm0jsRA), [LinkedIn](https://www.linkedin.com/in/adrian-dolinay-frm-96a289106/), [Twitter](https://twitter.com/DolinayG), [GitHub](https://github.com/ad17171717) and [Odysee](https://odysee.com/@adriandolinay:0). Happy coding!**