<a href="https://colab.research.google.com/github/ad17171717/YouTube-Tutorials/blob/main/Python/Writing_pandas_DataFrames_to_Multiple_Tabs_in_a_Spreadsheet/Python!_Writing_pandas_DataFrames_to_Multiple_Tabs_in_a_Spreadsheet!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install xlsxwriter

# **Excel Writer Engines**

- **[XlsxWriter](https://xlsxwriter.readthedocs.io/)**

- **[openpyxl](https://openpyxl.readthedocs.io/en/stable/)**

In [ ]:
import os
import pandas as pd

In [ ]:
spreadsheets = [file for file in os.listdir() if '.csv' in file]
print(spreadsheets)

['AAPL.csv', 'AMZN.csv', 'GOOG.csv', 'TSLA.csv']

In [ ]:
df_list = [pd.read_csv(file) for file in spreadsheets]
df_list[0]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-02-10,174.139999,175.479996,171.550003,172.119995,171.344833,90865900
1,2022-02-11,172.330002,173.080002,168.039993,168.639999,167.880508,98670700
2,2022-02-14,167.369995,169.580002,166.559998,168.880005,168.119446,86185500
3,2022-02-15,170.970001,172.949997,170.250000,172.789993,172.011810,62527400
4,2022-02-16,171.850006,173.339996,170.050003,172.550003,171.772903,61177400
...,...,...,...,...,...,...,...
246,2023-02-03,148.029999,157.380005,147.830002,154.500000,154.500000,154279900
247,2023-02-06,152.570007,153.100006,150.779999,151.729996,151.729996,69858300
248,2023-02-07,150.639999,155.229996,150.639999,154.649994,154.649994,83322600
249,2023-02-08,153.880005,154.580002,151.169998,151.919998,151.919998,64120100
250,2023-02-09,153.779999,154.330002,150.419998,150.869995,150.869995,55921800

In [ ]:
sheet_names = [sheet.replace('.csv','') for sheet in spreadsheets]
print(sheet_names)

['AAPL', 'AMZN', 'GOOG', 'TSLA']

# **Writing DataFrames to Multiple Tabs**

In [ ]:
with pd.ExcelWriter('stock_data.xlsx', engine='xlsxwriter') as writer:
    for df,sheet in zip(df_list,sheet_names):
        df.to_excel(writer, sheet_name=sheet)

# **References and Additional Learning**

## **Website**

- **[pandas.ExcelWriter](https://pandas.pydata.org/docs/dev/reference/api/pandas.ExcelWriter.html) from pandas.pydata.org**

# **Connect**
- **Feel free to connect with Adrian on [YouTube](https://www.youtube.com/channel/UCPuDxI3xb_ryUUMfkm0jsRA), [LinkedIn](https://www.linkedin.com/in/adrian-dolinay-frm-96a289106/), [Twitter](https://twitter.com/DolinayG), [GitHub](https://github.com/ad17171717) and [Odysee](https://odysee.com/@adriandolinay:0). Happy coding!**