<a href="https://colab.research.google.com/github/ad17171717/YouTube-Tutorials/blob/main/Python/Python!_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
import numpy as np

# **Tuples**

**Tuples are immutable sequences, typically used to store collections of heterogeneous data. Tuples are used for cases where an immutable sequence of homogeneous data is needed, such as allowing storage in a `set` or `dict` instance.**

**Tuples may be constructed in a number of ways:**

- **Using a pair of parentheses to denote the empty tuple: `()`**

- **Using a trailing comma for a singleton tuple: `a,` or `(a,)`**

- **Separating items with commas: `a, b, c` or `(a, b, c)`**

- **Using the `tuple()` built-in: `tuple()` or `tuple(iterable)`**

<sup>Source: [Tuples](https://docs.python.org/3/library/stdtypes.html#tuple) from Python.org<sup/>

## **Tuple Construction**

### **Empty Tuple**

In [ ]:
empty_tuple = ()
print(type(empty_tuple))

### **Built-in `tuple` Class**

In [ ]:
num_tuple = tuple((num for num in range(100)))
print(num_tuple)

### **Comma Separated Tuple**

In [ ]:
name1,name2,name3,name4 = 'Adrian','Tara','Ivan','Junichiro'

name_tuple = name1,name2,name3,name4
print(name_tuple)

### **Concatenating Tuples Together**

In [ ]:
mixed_tuple = name_tuple+num_tuple
print(mixed_tuple)

## **Repeating Tuples**

In [ ]:
repeating_tuple = name_tuple*2
print(repeating_tuple)

## **Comparing Tuple Memory Size to Other Objects**

In [ ]:
num_list = [num for num in range(100)]
num_array = np.array([num for num in range(100)])
num_set = {num for num in range(100)}

In [ ]:
object_tuple = (num_tuple,num_list,num_array,num_set)

for obj in object_tuple:
    print(f'The {type(obj)} containing {len(obj)} integers take {sys.getsizeof(obj)} bytes of memory')

## **Comparing the Time to Create Various Objects**

In [ ]:
%%timeit
num_tuple = tuple((num for num in range(100)))

In [ ]:
%%timeit
num_list = [num for num in range(100)]

In [ ]:
%%timeit
num_array = np.array([num for num in range(100)])

In [ ]:
%%timeit
num_set = {num for num in range(100)}

## **Can Access Elements by Indexing, Slicing and Striding Tuples**

In [ ]:
#return first element in a tuple
num_tuple[0]

In [ ]:
#slice to access the last five elements of a tuple
num_tuple[-5:]

In [ ]:
#striding to return every nth element
num_tuple[0::2]

## **Tuples are Immutable**

In [ ]:
try:
    num_tuple[0] = 5
except:
    print(f'{type(num_tuple)} is immutable')

In [ ]:
num_tuple[0]

## **Iterating Over the Elements within a Tuple**

In [ ]:
for num in num_tuple:
    print(num**.5)

## **Built-in Functions**

In [ ]:
#count the number of times a specific element appears within the tuple
name_tuple.count('Adrian')

In [ ]:
#return the index position of a specific element within the tuple
name_tuple.index('Ivan')

## **Tuples Can be Used as Keys for a Dictionary**

In [ ]:
name_tuple

In [ ]:
degree_tuple = ('Statistics','Computer Science','Physics','Biology')

In [ ]:
school_dict = {name_tuple:degree_tuple}
print(school_dict)

## **Common Sequence Operations that Work with Tuples**

| Operation  | Result  |
|---|---|
| `x in s`  | `True`  if an item of s is equal to x, else `False`  |
| `x not in s`  |  `False` if an item of s is equal to x, else `True` |
| `s + t`  |  the concatenation of s and t |
| `s*n` or `n*s`  |  equivalent to adding s to itself n times |
| `s[i]`  | ith item of s, origin 0  |
|`s[i:j]`   | slice of s from i to j  |
| `s[i:j:k]`  | slice of s from i to j with step k  |
| `len(s)`  | length of s  |
| `min(s)`  | smallest item of s  |
| `max(s)`  | largest item of s  |
| `s.index(x[, i[, j]])`  | index of the first occurrence of x in s (at or after index i and before index j)  |
|`s.count(x)`   | total number of occurrences of x in s  |

<sup>Source: [Common Sequence Operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations) from Python.org<sup/>

# **References and Additional Learning**

## **Websites**

- **[Common Sequence Operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations) from Python.org**

- **[Tuples](https://docs.python.org/3/library/stdtypes.html#tuple) from Python.org**

# **Connect**
- **Feel free to connect with Adrian on [YouTube](https://www.youtube.com/channel/UCPuDxI3xb_ryUUMfkm0jsRA), [LinkedIn](https://www.linkedin.com/in/adrian-dolinay-frm-96a289106/), [Twitter](https://twitter.com/DolinayG), [GitHub](https://github.com/ad17171717), [Medium](https://adriandolinay.medium.com/) and [Odysee](https://odysee.com/@adriandolinay:0). Happy coding!**